node_modules

.cache
.env
.vercel
.output
.eslintcache

.env.local

dist

/build/
/public/build
/api/index.js
/api/index.js.map

/app/styles/tailwind.css

app/types/api.ts

.yarn/*
!.yarn/releases
!.yarn/plugins
**/env.data.json

# these two added newly
packages/snap/.env
packages/snap/.env.*
